.header_container{
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 100px;
    gap: 100px;
    padding: 80px;
    align-items: center;
}

nav li{
    display: inline;
    font-weight:200;
}

nav li a{
    color:black;
    text-decoration: none;
    padding: 10px;
}

.header_image{
    width: 20px;
    height: 20px;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

.home{
    background-image: url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
}

.product_image{
    width: 275px;
    height: 240px;
}

.hr_product{
    width: 30%;
    border: 2px solid black;
}

.product_container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70px;
}

.add_to_cart_button{
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

footer {
    background-color: #bf7631;
}