*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.header_container{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:0px;
    padding: 15px;
    align-items: center;
    font-family:'Segoe UI';
}

.header_image{
    width: 13px;
    height: 13px;
    vertical-align:text-top;
}

nav li{
    display: inline;
}

nav li a{
    color:black;
    text-decoration: none;
    padding: 10px;
}

.header_break{
    width: 76%;
    height: 5px;
    background-color: black;
    margin-left: 12%;
    margin-right: 12%;
}

.home{
    height: 571px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgb(0, 0, 0)), linear-gradient(to left, rgba(0,0,0,0), rgb(0, 0, 0)), url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size:cover;
    background-position: absolute;
}

.home_left{
    position: absolute;
    text-align: left;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 100px;
    font-family:'Segoe UI';
    color: white;
}

.home_right{
    position: absolute;
    text-align: right;
    margin-left: 1700px;
    margin-top: 450px;
    font-size: 30px;
    font-family:'Segoe UI';
    color: white;
}


body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}


.product_image{
    width: 275px;
    height: 240px;
}

.hr_product{
    width: 30%;
    border: 2px solid black;
}

.product_container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70px;
}

.add_to_cart_button{
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

footer {
    background-color: #bf7631;
}